@import "../../_main";
.main{
  width: 100%;
  height: 100%;
}
//-----------------------LOADER
.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}
.loader .loaded_page {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.loaded_page {
  width: 100%;
  height: 100vh;
  background: $content_color;
  .block{
    width: 100%;
  }
  .block.logo_block {
    height: calc(100% / 7 * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      margin: 0;
      padding: 0;
      font-size: 5rem;
      font-family: 'Sevillana', cursive;
    }
  }
  .block.middle_block {
    height: calc(100% / 7 * 3);
    display: flex;
    //background: purple;
    .bear_left{
      width: calc(100% / 5);
      //background: yellowgreen;
    }
    .input_block{
      width: calc(100% / 5 * 3);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .bear_right{
      //background: red;
      width: calc(100% / 5 );
    }
  }
  .block.under_block {
    height: calc(100% / 7 * 3);
    //background: pink;
  }
}

.loader .loader__icon svg {
  transform-origin: 0 0;
}
.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #61dafb;
  transition: width 0.7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loaded_page {
  opacity: 1;
  transition: opacity 0.5s 1.4s ease;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}
//----------------------------INPUT
.input_container{
  margin-bottom: 100px;
  position: relative;
  width: 20rem;
  display: flex;
  border-bottom: 1px solid black;

  label, .active{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: .7rem;
    //font-family: 'Sevillana', cursive;
    font-size: 1.6rem;
    transition: top .5s, left .7s;
  }
  .active{
    top: -.8rem;
    left: .2rem;
    color: gray;
    font-size: 1.2rem;
    transition: top .5s, left .7s;
  }
  input{
    padding-left: .7rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
  }
  .search_icon{
    cursor: pointer;
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: .4rem;
    i{
      margin: 0;
      padding: 0;
      font-size: 1.4rem;
    }
    //background: #282c34;
  }
}