@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #d7aa8f;
}

html{
    font-size: 62.8%;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(252, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #8a5013;
    outline: 1px solid #8a5013;
}
