@import "../../_main";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
//-----------------------LOADER
.loader {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}

.loader .loaded_page {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.loaded_page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .message_container {
    position: relative;
    padding: 4rem 2.5rem;
    max-width: 50rem;
    min-height: 20rem;
    border: 2px solid $bear_color;
    box-shadow: 3px 4px 5px #8f4015, -3px -4px 5px #d7aa8f, -3px 4px 5px #a14a13;
    text-align: justify;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .user_id {
      position: absolute;
      top: .4rem;
      left: 1.5rem;
      font-family: 'Dancing Script', cursive;
      font-size: 2rem;
      font-weight: bold;
      margin: .5rem 0;
    }

    .user_info {
      font-size: 1.8rem;
      font-family: "Dancing Script", cursive;

      span {
        margin-right: 1.5rem;
      }
    }

    .message {
      font-family: "Dancing Script", cursive;
      word-break: break-word;
      font-size: 1.5rem;
    }
  }
  $bear_block_deg: 30deg;
  .bear_block,.bear_block_hide{
    position: absolute;
    bottom: -4.5rem;
    width: 15rem;
    height: 15rem;
    transform: rotate(30deg);
    text-align: center;
    transition: bottom 3s;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > span{
      position: absolute;
      top: 4rem;
      left: -7rem;
      font-size: 1.8rem;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
      padding: .5rem .5rem;
      width: 10rem;
      height: 4rem;
      border-radius: 1rem;
      background: whitesmoke;
      transform: rotate(-20deg);
    }
  }
  .bear_block_hide{
    bottom: -30rem;
    transition: bottom 3s;
  }


  .top_bear_block, .top_bear_block_hide{
    position: absolute;
    top: 4rem;
    left: -6rem;
    width: 12rem;
    height: 12rem;
    text-align: center;
    transition: left 4s;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > span{
      position: absolute;
      top: 4rem;
      right: -12rem;
      font-size: 1.3rem;
      font-family: "Dancing Script", cursive;
      font-weight: bold;
      padding: .5rem .5rem;
      width: 15rem;
      //height: 4rem;
      border-radius: 1rem;
      background: whitesmoke;
    }
  }
  .top_bear_block_hide{
    left: -30rem;
    transition: left 4s;
  }

  background: $content_color;
}

.loader .loader__icon svg {
  transform-origin: 0 0;
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #f10c0c;
  transition: width 0.7s ease;
}

.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}

.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}

.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}

.loader--active {
  width: 100%;
  transition-delay: 0s;
}

.loader--active .loaded_page {
  opacity: 1;
  transition: opacity 0.5s 1.4s ease;
}

.loader--active .loader__tile {
  width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}


@media screen and (min-width: 320px) and (max-width: 520px) {
  .loaded_page {
    .message_container {
      margin: 0 .5rem;
      padding: 4rem 2.5rem;
      max-width: 50rem;
      min-height: 20rem;
      border: 2px solid $bear_color;
      border-radius: 30px;
      .user_id {
        top: .4rem;
        left: 1.5rem;
        font-size: 1.7rem;
        font-weight: bold;
        margin: .5rem 0;
      }

      .user_info {
        font-size: 1.8rem;
        span {
          margin-right: 1.5rem;
        }
      }

      .message {
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 360px) {
  .loaded_page {
    .message_container {
      .message {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}